.home-container {
    width: 100%;
    height: 100%;
    .container-body {
        margin: 3rem 1rem;
        display: flex;
        flex-flow: column;
        border: 1px solid #eaeaea;
        padding: 2rem;
        .headings {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin: 0 0 1rem;
            h2 {
                margin: 0;
            }
            .button-class {
                width: 7rem;
                height: 2rem;
            }
            .icon-parents {
                display: flex;
                flex-flow: row;
                .icon-class {
                    margin: 0.3rem;
                }
                .three-dots {
                    transform: rotate(90deg);
                }
            }
        }
        .create-add-note {
            border: 1px solid #eaeaea;
            padding: 1rem;
            background-color: skyblue;
            // Createnotes form start
            .create-notes-form {
                display: flex;
                flex-flow: column nowrap;
                padding: 1rem 0;
                width: 70%;
                margin: 0 auto;
                .title-heading {
                    margin: -1rem 0 0 0;
                }
                .notes-title-input {
                    padding-top: 1rem;
                    .input-field {
                        display: block;
                        width: 80%;
                        min-height: 2rem;
                        height: auto;
                        resize: none;
                        padding: 0.5rem 1.5rem;
                        line-height: 1.42857143;
                        color: #707070;
                        background-color: #f9f9f9;
                        background-image: none;
                        border: 1px solid #ccc;
                        border-radius: 0.5rem;
                        outline-color: #70707096;
                        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15;
                    }
                    ::placeholder {
                        color: #707070;
                    }
                    .alert-dangers {
                        padding: 0.5rem 0.8rem;
                        color: #a94442;
                    }
                }
                .notes-date,
                .entry-heading {
                    padding-top: 1rem;
                }
                .notes-description {
                    // padding-top: 2rem;
                    .notes-description-field {
                        display: block;
                        width: 80%;
                        resize: none;
                        height: 5rem;
                        padding: 0.5rem 1.5rem;
                        line-height: 1.42857143;
                        color: #707070;
                        background-color: #f9f9f9;
                        background-image: none;
                        border: 1px solid #ccc;
                        border-radius: 0.5rem;
                        outline-color: #70707096;
                        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15;
                    }
                }
                .privacy-options-parent {
                    display: flex;
                    flex-flow: column wrap;
                }
                .notes-submit {
                    padding: 2rem 0rem 0rem 0rem;
                    display: flex;
                    flex-flow: row;
                    width: 14rem;
                }
            }
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            cursor: pointer;
        }
        // tr {
        .date-time {
            text-align: right;
            padding: 0 1rem 0;
        }
        // }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .action-button {
            display: flex;
            flex-flow: row;
        }
        .button-class {
            width: 100%;
            height: 1.5rem;
            color: var(--white);
            background-color: var(--blue);
            border-radius: 10px;
            border: 3px solid var(--blue);
            cursor: pointer;
        }
        .edit-button {
            background-color: var(--orange-light);
            border: 3px solid var(--orange-light);
            margin-right: 0.5rem;
        }
        .summary-outer {
            position: absolute;
            left: 84%;
            top: 45%;
            transform: translate(-50%, -50%);
            border: 1px solid #eaeaea;
            min-width: 15rem;
            width: auto;
            height: auto;
            background-color: #fff;
            .summary-body {
                margin: 0;
                display: flex;
                flex-flow: column;
                .s-hearder {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    h4 {
                        margin: 0.2rem;
                        font-weight: 400;
                        color: #736f6f;
                    }
                    .triangle-icon {
                        margin: 0.3rem;
                        transform: rotate(45deg);
                    }
                }
            }
            .summary-child {
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                background-color: #e1f5fd;
                padding: 0.5rem 0 1rem;
                .s-left {
                    h1 {
                        color: skyblue;
                        font-size: 56px;
                        margin: 1rem 0 0;
                    }
                    p {
                        color: gray;
                        margin: 0;
                        font-size: 12px;
                    }
                }
                .s-right {
                    display: flex;
                    flex-flow: column;
                    .p {
                        color: gray;
                        font-size: 12px;
                    }
                    .h {
                        color: skyblue;
                        margin: 0;
                    }
                    .h-p2 {
                        margin: 1rem 0 0;
                        font-size: 12px;
                    }
                }
            }
        }
        .table-wrapper {
            position: relative;
        }
    }
}
